
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">{{shelter.nameShelter}}</h4>
      <h5 class="card-subtitle mb-2 text-muted">{{shelter.city}}</h5>
      <h5 class="card-subtitle mb-2 text-muted">{{shelter.email}}</h5>
      <h5 class="card-subtitle mb-2 text-muted">{{shelter.phone}}</h5>
    
      <a href="/" class="card-link">All Users</a>
    </div>
  </div>